        <table class="table">
          <div class="formulario">
            <form class="form-envio">

              <label>Central:</label>
              <select class="form-control">
                <option>Mossad</option>
                <option>MI5</option>
              </select><br>

              <label>Condomínio:</label>
              <input class="form-control form-control-lg" class="col-xs-2" type="text" placeholder=""><br>

              <label>Apartamento:</label>
              <input class="form-control form-control-lg" type="text" placeholder=""><br>

              <label>Status Entrega:</label>
              <select class="form-control">
                <option>A Liberar</option>
                <option>Não Liberado(a)</option>
                <option>Liberado(a)</option>
              </select><br>

              <label>Data Liberação:</label>
              <input class="form-control form-control-lg" type="date" placeholder=""><br>

              <label>Descrição</label>
              <textarea class="form-control form-control-lg" type="text"></textarea>

              <div class="menu-botao">
                <button type="button" id="botao-cadastro" class="btn btn-primary">Salvar</button>
              </div>

            </form>
          </div>
        </table>










            <style type="text/css">
      .formulario{
        width: 80%;
        height: 510px;
        margin: auto;
        margin-top: 10px;
      }
      .formulario label {
        color: white;
      }
      .menu-botao {
        width: 70px;
        height: 50px;
        margin: auto;
      }
      .menu-botao #botao-cadastro {
        margin-top: 15px;
      }
      .table-responsive {
        background-color: #2F3E47;
        margin-top: 30px;
        height: 580px;
      }
    </style>











        <style type="text/css">
      @media only screen and (min-width: 449px) {
        .table-responsive {
          width: 100%;
          margin: auto;
          margin-top: 60px;
        }
        .container{
          width: 90%;
        }
        .painel_button {
          width: 100%;
          height: 50px;
          margin-top: 10px;
        }
        .painel_button .butposition {
          width: 46%;
          height: 40px;
          margin-top: 5px;
          float: right;
        }
        .painel_button .butposition button {
          width: 80px;
          height: 40px;
          background-color: #2F3E47;
          color: #FFFFFF;
          border-radius: 4px;
        }

      }
      /*@media only screen and (max-width: 1440px) {
        .table-responsive {
          width: 100%;
          margin: auto;
          margin-top: 60px;
        }
        .container{
          width: 90%;
        }
        .painel_button {
          width: 100%;
          height: 50px;
          margin-top: 10px;
        }
        .painel_button .butposition {
          width: 14%;
          height: 40px;
          margin-top: 5px;
          float: right;
        }
        .painel_button .butposition button {
          width: 80px;
          height: 40px;
          background-color: #2F3E47;
          color: #FFFFFF;
          border-radius: 4px;
        }

      }*/
    </style>