{% load staticfiles %}

<!DOCTYPE html>
<html lang="PT">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Tag meta configurada para dá um refresh "F5" na página a cada 5 segundos .. -->
    <meta http-equiv="refresh" content="15"; url="{% url 'home' %}">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Descricao - MI5</title>

    <link href="https://fonts.googleapis.com/css?family=Acme|Bree+Serif|Lobster|Modak" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!--  -->
    <link href="{% static 'css/mi5.css' %}" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>

  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" id="menu">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" id="logo-text" href="{% url 'mi5' %}" style="font-family: 'Acme', sans-serif; font-size: 38px; color: white;">Tattica | <small style="color: orange;">Quadro</small></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <div class="position-img">
            <a href="#">
              <img src="{% static 'img/config.png' %}" title="Modo de Visualização" type="button" data-toggle="modal" data-target="#exampleModal">
            </a>
          </div>
          <div class="positionbutton">
            <button type="button" class="btn btn-success"><a href="{% url 'adicionar_mi5' %}">Novo</a></button>
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  {% block content %}
    <div class="container">
      <div class="buscador">
        <div class="buscador-input">
          <div class="row">
            <form action="search_mi5" method="POST">{% csrf_token %}
              <div class="col-lg-6">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Pesquisa" name="teste">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Buscar</button>
                  </span>
                </div><!-- /input-group -->
              </div><!-- /.col-lg-6 -->
            </form>
          </div><!-- /.row -->
        </div>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Apartamento</th>
              <th>Condomínio</th>
              <th>Descrição</th>
              <th>Situação</th>
              <th>Data Liberação</th>
              <th>Operador</th>
              <th>Central</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for Post in post %}
            <tr>
              <td>{{ Post.apartamento }}</td>
              <td>{{ Post.condominio }}</td>
              <td>{{ Post.descricao }}</td>
              <td>{{ Post.liberacao }}</td>
              <td>{{ Post.data_liberacao }}</td>
              <td>{{ Post.nome_operador }}</td>
              <td>{{ Post.central }}</td>
              <td id="acoes">
                <a href="#">
                  <img src="{% static 'icons/editar.png' %}" title="Editar">
                </a>
                <a href="#">
                  <img src="{% static 'icons/excluir.png' %}" title="Excluir">
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div><!-- END container -->
  {% endblock %}

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Visualização Painel</h5>
        </div>
        <div class="modal-body">
          <div class="modalbutton">
            <div class="buttonm">
              <a href="home">
                <button type="button" class="btn btn-light">TV</button>
              </a>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>

    <!-- jQuery  -->
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <!-- jQuery  -->
    <script src="{% static 'js/holder.min.js' %}"></script>

  </body>
</html>